{% extends "base.html" %}
{% load static %}
{% block title %}Orders{% endblock %}
{% block body_class %}page-customer has-bottom-nav{% endblock %}
{% block content %}
<div class="customer-layout">
  {% include "components/customer_header.html" with title="Your orders" show_search_bar=False %}
  <main class="main-pad">
    <div class="stack" id="orders-list"></div>
  </main>
  {% include "components/bottom_nav.html" with active="orders" %}
</div>
{% endblock %}
{% block extra_js %}<script src="{% static 'js/pages/order_history.js' %}"></script>{% endblock %}
