{% extends "base.html" %}
{% load static %}
{% block title %}Outlets{% endblock %}
{% block body_class %}page-customer has-bottom-nav{% endblock %}
{% block content %}
<div class="customer-layout">
  {% include "components/customer_header.html" with title="Outlets" show_search_bar=True %}
  <main class="main-pad">
    <div class="stack" id="outlets-list"></div>
  </main>
  {% include "components/bottom_nav.html" with active="outlets" %}
</div>
{% endblock %}
{% block extra_js %}<script src="{% static 'js/pages/outlets.js' %}"></script>{% endblock %}
