{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block body_class %}page-splash{% endblock %}
{% block content %}
<section class="splash">
  <div class="splash__logo">🍯</div>
  <h1 class="splash__title">REC Hive</h1>
  <p class="splash__tagline">Order from campus outlets. Skip the queue.</p>
  <div class="splash__actions">
    <a class="btn btn--primary btn--block" href="{% url 'onboarding' %}">Get started</a>
    <a class="btn btn--ghost btn--block" href="{% url 'login' %}">I already have an account</a>
  </div>
</section>
{% endblock %}
